<p id="notice"><%= notice %></p>
<h2>Tu Carro
	<small>
		<%= "("+pluralize(@cart.products.count, "Articulo")+")" %>
	</small>
</h2>
<% @cart.products.to_set.each do |p| %>
	<div class="col-md-12 product" style="margin-bottom:15px">
		<div class="col-md-2"><img src="http://placehold.it/80x80"></div>
		<div class="product-text" style="margin-top:30px">
			<div class="col-md-2"><%= link_to p.name.titleize, p %></div>
			<div class="col-md-2"><%= @cart.products.select{|pr| pr.id==p.id}.count %></div>
			<div class="col-md-2" style="font-size:16px;font-weight:700;color:#333">US <%= number_to_currency(p.price, precision: 2) %><small style="color:#aaa;font-size:12px"> / unidad</small></div>
			<div class="col-md-2">
				<%= link_to product_path(p)+"/remove", :method => :post do %>
					<i class="fa fa-remove" aria-hidden="true"></i>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<div class="col-md-4" style="float:right">
	<h3>Total del Carro: <strong>US <%= number_to_currency(@cart.cart_total, precision: 2) %></strong></h3>
	<%= link_to cart_path(@cart)+"/buy", :method => :post do %>
		<button class="btn btn-success">
			Comprar
		</button>
	<% end %>
	<hr>
</div>
