<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :price, "Precio" %>
    <%= f.text_field :price, required: true %>
  </div>

  <div class="field">
    <%= f.label :description, "Descripcion" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :categories, "Categorias" %>
	<%= f.select :category_ids, options_for_select(Category.all.collect {|c| [c.name, c.id]}), {}, {:multiple => true} %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Producto"%>
  </div>
<% end %>
