<!DOCTYPE html>
<html>
	<head>
		<title>AcidMiniEcommerce</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body>
		<style>
			.navbar-right a:hover, .navbar-right a:focus{
				background-color: transparent;
				color: #999999;
				text-decoration: none;
			}
		</style>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">acid-mini-ecommerce</a>
				</div>
				<span class="navbar-right" style="margin-top:13px;margin-right:13px">
					<%= link_to current_user.carts.last do %>
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						<span class="label label-danger"><%= current_user.carts.last.products.count.to_s %></span>
					<% end %>
					<span style="margin-left:15px">
						<% if current_user.email =~ /ex/ %>
							<%= link_to "Registrate", edit_user_path(current_user) %>
						<% else %>
							<%= link_to current_user.email, edit_user_path(current_user) %>
						<% end %>
					</span>
				</span>
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
